.item-box{
  border: 1px solid teal;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
 }

.container{
  margin: 0 auto;
  width: 75%;
  margin-top: 100px;
}

.button {
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
 }

.button:hover{
  background-color: rgb(19, 79, 79);
}
.item-header{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.item-action-box{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#heading{
  margin: 10px 0px;
}
