<div class="container">
  <% if flash[:notice].present? %>
    <div class="flash">
      <%= flash[:notice]%>
    </div>
  <%end%>
    <div class="item-header">
      <h1 id= "heading">Items</h1>
      <div>
        <%= link_to "Add Item", new_item_path, class: "button"%>
      </div>
    </div>
    <%= render "items", items: @items %>
 </div>




